*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #f0f8ff;
    font-family: sans-serif;
    background-color: #021526;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    font-size: xx-large;
    color: rgb(223, 134, 0);
}
.container h2{
    font-size: xx-large;
    color: #7fc3ff;;
}
.main-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #deb887;
    color: #021526;
    height: 10vh;
    width: 80vw;
    margin: 10px;
    font-size: xx-large;
    border-radius: 100px;
    font-family: sans-serif;
}
.s-container{
    height: 100vh;
    padding: 10px;
    font-family: sans-serif;
    color: #deb887;
}
.s-container h1{
    text-align: center;
    color: #7fc3ff;
}
.s-container h2{
    padding: 10px;
    color: rgb(223, 134, 0);
}
.s-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #deb887;
    color: #021526;
    height: 5vh;
    margin: 10px;
    font-size: large;
    border-radius: 100px;
    font-family: sans-serif;
}